/* Global Styling */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap");

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  height: 5rem;
  font-family: "Open Sans", sans-serif;
}

li a,
a {
  color: rgb(204, 204, 204) !important;
  text-decoration: none !important;
}

a:hover {
  color: white !important;
}

main {
  display: grid;
  grid-template-rows: repeat(5, minmax(100vh, 100vh)) !important;
}

/* Specific styling */

.cover_Background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #080a0b;
  box-shadow: inset 0px 0px 91px 18px rgba(0, 0, 0, 1);
}

.nav_text a {
  font-size: 1em;
  letter-spacing: 0.1em;
}

.nav_text li:hover {
  box-shadow: inset 0px 0px 0px 1px azure;
}

.navbar-brand {
  width: 20%;
}

.navbar-brand > span {
  font-weight: bold;
  font-size: 1.5em;
}

/* Hero section */
.hero_Section {
  background-image: url("Assets/images/main-bg.jpg");
  box-shadow: inset 0px -80px 25px 0px rgba(0, 0, 0, 0.541);
  display: grid;
  grid-template-rows: 11fr 1fr;
}

.hero_Title > h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3.5rem;
  letter-spacing: 0.1em;
}

.hero_Desc > h3 {
  margin-top: 3rem;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 2px;
}

.hero_Button {
  width: 250px;
}

.hero_Button > button {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  margin-top: 70px;
  padding: 1em 3em;
  font-size: 1em;
}

.hero_Button > button:active {
  transform: translateY(5px);
}

.hero_scroll {
  margin: auto;
  text-align: center;
  cursor: pointer;
}

.hero_scroll p {
  margin: 0;
}

.hero_scroll img {
  animation: 2s hovering infinite;
}

@keyframes hovering {
  0% {
    width: 1rem;
  }

  50% {
    width: 2rem;
  }

  100% {
    width: 1rem;
  }
}

/* Games section */
.games_Section {
  background-image: url("Assets/images/the-games-bg.jpg");
  display: grid;
}

.games_Title,
.games_slider {
  padding-top: 2.5rem;
}

.games_Desc h2 {
  font-size: 2.5rem;
}

.games_Desc h2 {
  letter-spacing: 0.2em;
}

/* Features section */
.features_Section {
  background-image: url("Assets/images/features.jpg");
  display: grid;
  letter-spacing: 0.2em;
}

.features_Title > h3 {
  font-size: 4rem;
  padding-bottom: 2rem;
}

.description_Item {
  padding: 1.5rem 0;
}
.description_Item > h3 {
  color: #f3af34;
}

.description_Item > p {
  letter-spacing: unset;
  text-align: justify;
}

/* Requirements section */
.requirements_Section {
  background-image: url("Assets/images/requirements.png");
  display: grid;
  box-shadow: inset 400px 0px 1000px 200px rgb(0 0 0 / 90%);
}

.requirements_SectionDetails {
  padding-top: 2.5rem;
}

.requirement_Table {
  border-color: rgba(151, 151, 151, 1) !important;
}

.requirements h3 {
  font-size: 4rem;
  letter-spacing: 0.25rem;
  padding-bottom: 10rem;
}

.table_Content > h5 {
  color: #f3af34;
}

/* Top scores section */
.topscores_Section {
  background-image: url("Assets/images/top-score-bg.png");
  background-position: top !important;
  display: grid;
}

.topscores_Description {
  padding-bottom: 3rem;
}

.topscores_Description h5,
.topscores_Description p {
  padding: 0.5rem 0;
}

.topscores_Description h5 {
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

.topscores_Description p {
  font-size: 1.5rem;
}

.topscores_Button {
  width: 260px !important;
  height: 60px !important;
}

.topscores_Cards {
  height: 40rem;
  position: relative;
  padding-left: 5rem;
}

.card {
  border-radius: 10px !important;
  width: 350px !important;
  text-align: center;
}

.card_Middle {
  top: 35% !important;
}

.card_Bottom {
  top: 70% !important;
}

.topscores_Cards .card {
  background: rgba(255, 255, 255, 0.08);
}

.card-title {
  color: #f3af34 !important;
}

/* Footer section */
/* Newsletter section */
footer {
  background-image: url("Assets/images/bg-image-3.jpg");
  background-position: bottom !important;
}

.newsletter {
  display: grid;
  grid-template-rows: 10fr auto auto;
}

.footer_form {
  padding-top: 10rem;
}

.newsletter_Text > h2 {
  font-size: 4rem;
}

.newsletter_Text > p {
  font-size: x-large;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.newsletter_Form {
  padding-top: 2rem;
}

.newsletter_Form > div {
  position: relative;
  height: 3rem;
}

.newsletter_Form input {
  padding: 2rem 1rem 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.08);
  color: rgba(255, 181, 72, 1);
  border: unset;
}

.newsletter_Form input:focus {
  background-color: rgba(255, 255, 255, 0.08);
  color: rgba(255, 181, 72, 1);
  border: unset;
}
.newsletter_Form input::placeholder {
  color: rgba(255, 181, 72, 1);
}

.footer_images img {
  width: 100%;
}

.inputLabel {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 1.5rem;
  padding-top: 0.25rem;
  font-size: x-small;
}

.orangeButton {
  color: black !important;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border: unset;
}

.footer_nav {
  grid-template-columns: 9fr 3fr;
}

.footer_navLeft {
  padding-left: 10vw;
}

.footer_navLeft ul {
  list-style-type: none;
  justify-content: space-evenly;
}

.footer_navRight {
  text-align: right;
  justify-content: space-evenly;
  margin-left: 25%;
}

.footer_text {
  border-top: 2px solid #ffffff50;
  height: fit-content;
  padding-top: 2rem;
}

.footer_text > p {
  text-align: left;
  color: #8d8d8d;
}

.footer_text > div {
  text-align: right;
}

.footer_misc > a {
  margin: 0 0.5rem;
}

/* Additional Animation */
